{% extends 'base.html' %}

{% load thumbnail %}



<!-- Page Title-->
{% block title %}Home{%endblock %}


<!-- Page Content -->

{% block body %}

<a href="{% url 'feed:post' %}">&rarr; Add new Post</a>
<hr>

<!-- display dynamic posts in the form of django loop -->
{% for post in posts %}

<!-- Make content clickable -->
<a href="{% url 'feed:detail' post.id %}" style="display: inline-block;">
    <!-- Django dynamic variable -->
    <h2>{{post.text}}</h2>

    {% thumbnail post.image "200x200" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
</a>

<hr>

{% endfor %}


{% endblock %}